// Define variables for your color scheme

// For example:
$red: #FF5A5F;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #4FA29B;
$gray: #C0C0C0;
$light-gray: #F4F4F4;
$purple: #914769;

