<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<div class="homebanner">
  <h1>Buddiest</h1>
</div>

<p>Apprenez où vous voulez - Développez vos compétences à 5 minutes de chez vous.</p>

<p>Montrez vos talents où que vous soyez. Partagez votre savoir.</p>
