.btn-red {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: $red;
  transition: background 0.3s ease;
}

.btn-red:hover {
  background: $red;
  color: white;
}

.btn-green {
  color: white;
  padding: 8px 20px;
  border-radius: 4px;
  background: $green;
  transition: background 0.3s ease;
}

.btn-green:hover {
  background: $green;
  color: white;
}
