
.card-img {
  height: 140px;
  width: 100%;
  object-fit: cover;
}


.cards-card {
  background: white;                         /* White background */
  border-radius: 8px;                        /* Small radius */
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  height: 316px;
}

.card-product:hover{
  opacity: 0.7;
}

.card-description{
  padding: 20px;
}

.card-description p{
  font-size: 13px
}

a:hover{
  text-decoration: none;
  color: black;
}

a{
  text-decoration: none;
  color: black;
}
