
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  border-radius: 5px
}

.card {
    border: 0.5px;
    margin-bottom: 10px;
    height: 430px;
    border-radius: 5px;
    border-shadow: 5px 5px 5px black;
}

.card-body {
    flex: 1 1 auto;
    padding: 10px
}

.card-text {
    font-size: 13px
}

.card > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}
