#map {
  height: 100vh;
  position: sticky;
  top: 0;
}

.mapraph {
  display: flex;
}

.mapraph .cards {
  flex-grow: 1;
  padding: 0px
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
