.navbar-lewagon {
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  transition: 0.5s background-color ease;
  align-items: center;
  height: 66px;
  width: 100%;
}

.navbar-lewagon-white {
  justify-content: space-between;
  background-color: white;
  height: 66px;
}

.navbar-lewagon .navbar-collapse {
  justify-content: space-between;
  flex-grow: 0;
  height: 66px;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.flexed-end {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  align-items: center;
  height: 100%;
}

.nav-item {
  height: 100%;
  display: flex;
  align-items: center;
}
